

@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de usuarios</h1>

    <p>Esto es un sistema que tiene un inicio de sesion y también una pantalla de registro en la cual se puede crear un usuario.
        Al iniciar sesión, el sistema dispone a la izquierda de la pantalla un menú, en el cual se puede acceder al gestor de usuarios. Aqui se puede eliminar o editar los usuarios
    </p>


    
</div>
