
@model LoginViewModel

@{
}

<h1>Login</h1>


<div class="card">
    <div class="card-body">

        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="mb-3">
                <label asp-for="Correo" class="form-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>



            <div class="mb-3">
                <label asp-for="Contrasena" class="form-label"></label>
                <input asp-for="Contrasena" type="password" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>

            <button class="btn btn-primary">Iniciar sesión</button>

        </form>

    </div>
</div>



@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('#contenido-vista').hide().fadeIn(1000);
        });
    </script>
}

