@using Microsoft.AspNetCore.Identity
@inject SignInManager<Usuario> SignInManager



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-dark">
                Hola, @User.Identity.Name
            </span>
        </li>

        <li class="nav-item">
            <form class="form-check-inline" asp-action="Logout" asp-controller="usuario">
                <button type="submit">
                    Cerrar sesión
                </button>
            </form>
        </li>
    }
    
</ul>
